/* adding a linear gradient background using soft greens and blue to make it look very fresh and motivating.*/
body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: linear-gradient(to bottom, #9dccd0, #b4e0ee, #cbe6c7, #8fc096);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 16px 0;
}

.glass-effect {
  /* semi transparent glass like background to make it seem 
  very dream-like and prevent the user from focusing more on the 
  details of the bacground as it may detain their focus from the 
  actual features and from studying.*/

  background-color: rgba(255, 255, 255, 0.3);

  /* the blur effect*/
  backdrop-filter: blur(100px);
  /* supports safari*/
  -webkit-backdrop-filter: blur(100px);
}
