body {
  margin: 0 auto;
  font-size: 1.2rem;
  margin-left: 30px;
}

h1 {
  font-size: 1.6rem;
  font-weight: 800;
  margin-top: 40px;
  margin-bottom: 40px;
}
p {
  width: 400px;
  border: 3px dashed rgb(116, 8, 8);
  background-color: rgb(255, 255, 211);
  min-height: 200px;
  margin-bottom: 20px;
  padding-left: 30px;
  padding-right: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.vcenter {
  height: 200px;
  line-height: 60px;
  text-align: center;
}

span {
  display: none;
  color: plum;
}

ul {
  display: flex;
  list-style: none;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
